.text-primary { color: $text-primary; }
.text-secondary { color: $text-secondary; }

.background-primary { background-color: $background-primary; }
.background-secondary { background-color: $background-secondary; }
